name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy-laravel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          script: |
            "cd /home/ubuntu/devops && ./deploy.sh"
